<div class="col-md-12">
    @foreach (var comment in Comments)
    {
        <div class="card">
            <div class="card-body">
                <small class="card-text">[@comment.CommentedAt.ToString()] <strong>@comment.User.UserName</strong>:</small>
                <p class="card-text">@comment.Text</p>
            </div>
            <div class="card-footer">
                <button type="button" class="btn btn-danger btn-sm" @onclick="() => RemoveComment(comment)">Remove</button>
            </div>
        </div>
    }
</div>

@code {
    [Parameter]
    public IEnumerable<CommentModel> Comments { get; set; }

    [Parameter]
    public EventCallback<CommentModel> OnCommentRemoved { get; set; }

    async Task RemoveComment(CommentModel comment) => await OnCommentRemoved.InvokeAsync(comment);
}